<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Instagram</title>
		<link
			rel="stylesheet"
			href="/style.css" />
	</head>
	<body
		style="
			width: 90vw;
			display: flex;
			flex-direction: column;
			align-items: center;
		">
		<h1>Instagram</h1>

		<div class="extra">
			<button>Follow</button>
			<button>Message</button>
		</div>

		<h2>UserName: <%= data.name %></h2>
		<div class="follower">
			<h3>Followers: <%= data.followers %></h3>
			<h3>Following: <%= data.following %></h3>
		</div>

		<% for( const post of data.posts) { %> <img src="<%= post.image %>"
		alt="image bheje h" / loading="lazy">
		<div class="detail">
			<p>Likes: <%= post.likes %></p>
			<p>Comments: <%= post.comments %></p>
		</div>
		<% } %> <%- include("includes/footer.ejs") %>
	</body>
	<script src="/app.js"></script>
</html>
